ul.breadcrumbs
  li.breadcrumbs__list
    a(href="/") Home
  li.breadcrumbs__list Components

div.panel.docs-container
  div.docs-header
    h1.page-header
      i.fa.fa-cubes
      span Components
  div.docs-body
    != partial("/_docs/components/button.md")
    != partial("/_docs/components/panel.md")
    != partial("/_docs/components/data-list.md")
    != partial("/_docs/components/tab.md")
    != partial("/_docs/components/pill.md")
    != partial("/_docs/components/modal.md")
    != partial("/_docs/components/label.md")
    != partial("/_docs/components/breadcrumbs.md")
    != partial("/_docs/components/summary.md")
    != partial("/_docs/components/pagination.md")
    != partial("/_docs/components/flash.md")
    
