ul.breadcrumbs
  li.breadcrumbs__list
    a(href="/") Home
  li.breadcrumbs__list はじめに

div.panel.docs-container
  h1.page-header
    i.fa.fa-flag
    span はじめに
  div.docs-body
    != partial("/_docs/getting-started.md")
