ul.breadcrumbs
  li.breadcrumbs__list
    a(href="/") Home
  li.breadcrumbs__list Getting Started

div.panel.docs-container
  div.docs-header
    h1.page-header
      i.fa.fa-flag
      span Getting Started
  div.docs-body
    != partial("/_docs/getting-started.md")
