div.hero
  h1 Adminize
  h2 管理画面のためのCSSフレームワーク
  p.version
    | 現在のバージョン&nbsp;
    strong v0.2.2
  a(href="getting-started#install" class="btn")
    i.fa.fa-download
    | インストール

div.panel.panel--default
  div.panel__head
    h2.panel__title #{title}とは
  div.panel__body
    p
      | 管理画面に適した画面を構築するのに適したCSSフレームワークです。
      br
      | このドキュメントを参照してHTMLを記述すれば、すぐ画面ができあがります。
