div.hero
  h1 Adminize
  h2 HTML/CSS Framework for admin apps.
  p.version
    | Current version:&nbsp;
    strong v0.5.1
  a(href="./getting-started.html#install" class="btn with-icon")
    i.fa.fa-download
    | Download

div.panel.panel--default
  div.panel__head
    h2.panel__title What is #{title}?
  div.panel__body
    p 
      | The Adminize is HTML/CSS framework for admin.
      br
      | It include the various components that needed to build admin apps. 
