meta(charset="utf-8")
link(rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700")
link(rel="stylesheet" href="/vendor/adminize/css/adminize.min.css")
link(rel="stylesheet" href="/vendor/prism/themes/prism.css")
link(rel="stylesheet" href="/assets/css/docs.css")
link(rel="icon" href="/assets/icon/favicon.ico")
title #{title}
