meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700")
link(rel="stylesheet" href="//rawgit.com/hivelocityinc/adminize/master/css/adminize.min.css")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css")
link(rel="stylesheet" href="./assets/css/docs.css")
link(rel="icon" href="./assets/icon/favicon.ico")
title #{title}
