script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="//cdn.rawgit.com/hivelocityinc/adminize/master/js/adminize.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
script(src="./assets/js/script.js")
