div.side-bar
  div.side-bar__header
    div.site-name
      a(href="./")
        img(src="./assets/img/head-logo.png")
        span #{title}
  div.scroll-wrap
    div.scroll-content
      ul.side-bar__menu
        li.side-bar__list
          div.parent-title.js-side-parent.is-open
            i.fa.fa-flag.icon
            span Getting Started
          ul.child-menu
            li.child-menu__list: a(href="./getting-started.html#install") Install
            li.child-menu__list: a(href="./getting-started.html#template") Template
        li.side-bar__list
          div.parent-title.js-side-parent.is-open
            i.fa.fa-star.icon
            span Basics
          ul.child-menu
            li.child-menu__list: a(href="./basics.html#head-nav") Head Navigation
            li.child-menu__list: a(href="./basics.html#side-nav") Side Navigation
            li.child-menu__list: a(href="./basics.html#main-cont") Main Contents
            li.child-menu__list: a(href="./basics.html#typo") Typography
            li.child-menu__list: a(href="./basics.html#tables") Tables
            li.child-menu__list: a(href="./basics.html#forms") Forms
            li.child-menu__list: a(href="./basics.html#lists") Lists
        li.side-bar__list
          div.parent-title.js-side-parent.is-open
            i.fa.fa-cubes.icon
            span Components
          ul.child-menu
            li.child-menu__list: a(href="./components.html#button") Button
            li.child-menu__list: a(href="./components.html#panel") Panel
            li.child-menu__list: a(href="./components.html#data-list") Data List
            li.child-menu__list: a(href="./components.html#tab") Tab
            li.child-menu__list: a(href="./components.html#pill") Pill
            li.child-menu__list: a(href="./components.html#label") Label
            li.child-menu__list: a(href="./components.html#breadcrumbs") Breadcrumbs
            li.child-menu__list: a(href="./components.html#summary") Summary
            li.child-menu__list: a(href="./components.html#pagination") Pagination
            li.child-menu__list: a(href="./components.html#flash") Flash message
