a {
  color: #7a8cad;
}
.site-name {
  font-family: "Montserrat";
  span {
    font-size: 1.2rem;
  }
  a:hover {
    color: #96b9f9;
  }
}

.hero {
  padding: 60px 30px;
  margin-top: -20px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 25px;
  background: linear-gradient(160deg, #7a8cad 0%, #79aab0 70%);
  color: #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.1) inset;
  position: relative;
  h1,
  h2 {
    margin: 0;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 6px;
    font-family: "Montserrat";
  }
  h2 {
    font-size: 1.1rem;
  }
  .btn {
    color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    padding: 16px 40px;
    margin-top: 10px;
    &:hover {
      text-decoration: none;
      background-color: #fff;
      color: #7a8cad;
    }
  }
  .version {
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: .7;
  }
}

$docs-gutter: 30px;
.docs-header {
  padding: 32px 30px 30px;
  margin-top: -$docs-gutter;
  margin-left: -$docs-gutter;
  margin-right: -$docs-gutter;
  margin-bottom: $docs-gutter;
  background: linear-gradient(160deg, #7a8cad 0%, #79aab0 70%);
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.docs-container {
  padding: $docs-gutter;
  border-color: #ddd;
  border-radius: 4px;
  font-size: 15px;
  .page-header {
    font-size: 28px;
    padding: 0;
    margin: 0;
    border-bottom: none;
    color: #fff;
    line-height: 1;
    .fa {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 22px;
    margin-left: -$docs-gutter;
    margin-right: -$docs-gutter;
    margin-top: $docs-gutter;
    margin-bottom: $docs-gutter;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    span {
      padding: 12px 20px 10px ($docs-gutter - 8px);
      display: block;
      border-left: 8px solid #7a8cad;
    }
  }
  h3 {
    font-size: 17px;
  }
  pre {
    border-radius: 3px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #eee;
    code {
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
  }
}
